html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    cursor: pointer;

}

.logo { 
    width: 50%;
}

#texto-noencriptado, #texto-encriptado{ 
    width: 30em;
    height: 10em;
    margin: 1rem 1rem;
}

#texto-encriptado::placeholder{
    font-weight: bold;
    font-style: italic;
}



@media (min-width: 760px) {
    .textareas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .textareas .botones {
        display: grid;
        grid-template: repeat(4, 3fr);
        gap: 0.5em;
    }

    #texto-noencriptado,#texto-encriptado{ 
        width: 80%;
        height: 100%;
        margin: 0 1rem;
    }
    
    #texto-encriptado::placeholder{
        font-weight: bold;
        font-style: italic;
    }


}